h2 {
  color: $primary;
  font-weight: $weight-bold;
  font-size: 40px;
  transition: opacity .3s ease, transform .5s ease-out;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@media #{$tablet-l-media} {
  h2 {
    font-size: 32px;
  }
}

@media #{$mobile-l-media} {
  h2 {
    font-size: 28px;
  }
}