h2 {
  color: $primary;
  font-weight: $weight-bold;
  font-size: 2.2rem;

  transition: opacity .3s ease, transform .5s ease-out;
}

h3 {
  font-size: 1.875rem;
}

@media #{$tablet-l-media} {
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.7rem;
  }
}

@media #{$mobile-l-media} {
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 1.5rem;
  }
}