*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  line-height: $line-height-base;
  font-family: $font-main;
  font-weight: $weight-base;
  background-color: $color-body;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

canvas {
  pointer-events: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  line-height: 1;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

a:focus {
    outline: none;
}
button:focus {
    outline: none;
}
:focus {
    outline: none;
}
:focus:not(:focus-visible) {
  outline: none;
}
