*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: $line-height-base;
  font-family: $font-main;
  font-weight: $weight-regular;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: linear-gradient(220deg, #404553, #0D0026 50%);
  //background-color: $secondary-background;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  //@include fluid-type(font-size, $mobile-s, $tablet-m, 16px, 18px);
  //@include fluid-type(font-size, $desktop-m, $desktop-l, 20px, 22px);

  &.page--festival {
    background-color: #00020A;
  }
}

body {
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  font-size: 1rem;
}

h1, h2, h3, h4, h6 {
  margin: 0;
}


a {
  text-decoration: none;
}

canvas {
  //pointer-events: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  line-height: 1;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:focus {
    outline: none;
}
button:focus {
    outline: none;
}
:focus {
    outline: none;
}
:focus:not(:focus-visible) {
  outline: none;
}

img {
  user-drag: none;
  user-select: none;
}