.o-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;

  @media #{$md-up} {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media #{$xl-up} {
    padding-left: 80px;
    padding-right: 80px;
  }
}
